@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}


<div class="banner">
    <img src="Images/Forside.png" alt="Forside">
</div>
<hr/>
<div class="boxes">
    <div class="container-fluid">
        <div class="row-hidden-small">
            <div class="col-sm-4">
                <div class="box-match">
                    <img src="" alt=""></img>
                    <div class="text">
                        <div class="headline">Test</div>
                        <div class="teaser">Test test hej</div>
                        <div class="button"></div>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="box-match">
                    <img src="" alt=""></img>
                    <div class="text">
                        <div class="headline">Test</div>
                        <div class="teaser">Test test hej</div>
                        <div class="button"></div>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="box-match">
                    <img src="" alt=""></img>
                    <div class="text">
                        <div class="headline">Test</div>
                        <div class="teaser">Test test hej</div>
                        <div class="button"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
</div>