@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}


<div class="banner">
    <img src="Images/Forside.png" alt="Forside">
</div>
<hr/>

<div class="front-header">
    <h1>Roskilde Dyreinternat</h1> 
    <p>- Alle kæledyr i Danmark skal have et godt hjem</p>
</div>

<hr/>
<div class="card-container">
    <div class="card">
        <img src="Images/Hundogkat.png"alt="test">
        <div class="card-content">
            <h3>Card 1</h3>
            <p> tekst tekst tekst</p>
            <a href="" class="btn">Read more</a>
        </div>
    </div>
    <div class="card">
        <img src="" alt="">
        <div class="card-content">
            <h3>Card 2</h3>
            <p> tekst tekst tekst</p>
            <a href="" class="btn">Read more</a>
        </div>
    </div>
    <div class="card">
        <img src="" alt="">
        <div class="card-content">
            <h3>Card 3</h3>
            <p> tekst tekst tekst</p>
            <a href="" class="btn">Read more <span class="icon arrow"></span></a>
        </div>
    </div>
</div>